html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  .catalogo-maquina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 16px;
    position: relative;
  }

  .catalogo-maquina .back-button {
    position: absolute;
    top: 16px;
    left: 16px;
  }
  
  .catalogo-maquina .title {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }