html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden; // Evitar scroll en nivel de root
}

.impresion-container-destiny {
  display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Usa min-height en lugar de height para permitir que se expanda */
    background-color: #ffffff;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
    overflow-y: auto; /* Permite desplazamiento vertical cuando es necesario */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 16px; /* Añade algo de padding general */
    padding-bottom: 60px; /* Espacio adicional en la parte inferior para el footer */
    box-sizing: border-box;/* Espacio adicional en la parte inferior para el footer */
}
.alert-box {
  background-color: #ffe6e6; /* Fondo rojo claro */
  border: 2px solid #cc0000; /* Borde rojo oscuro */
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px; /* Espacio debajo del cuadro */
  text-align: center; /* Centrar el texto */
}
.impresion-card-destiny {
  background-color: #d1e0e5;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  box-sizing: border-box; // Asegurar que el padding no expanda la caja
  margin: 20px 10px; // Margen superior e inferior para separación
}

.impresion-form-destiny {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  @media (max-width: 768px) { // Para tabletas y móviles, una sola columna
    grid-template-columns: 1fr;
  }
}

.impresion-button-destiny {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.impresion-button-destiny .generate-button {
  background-color: #306A74;
  color: white;
}

.impresion-button-destiny .generate-button:hover {
  background-color: #2910d1;
}

.modal-content {
  width: 600px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: #ffffff;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-row {
  display: flex;
  justify-content: space-between;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.top-container-bfx {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 16px; /* Espacio desde el borde izquierdo */
}