.app-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(154, 150, 150);
    font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2%;
  
    .footer-left {
      display: flex;
      align-items: center;
  

    }
  

  }
  