html, body, #root {
  height: 100%;
  margin: 0;
  overflow: auto; // Permitir desplazamiento en el documento cuando sea necesario
}

.impresion-container-bfx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Alineación al inicio para cuando hay scroll */
  min-height: 100vh; /* Usa min-height en lugar de height para permitir que se expanda */
  background-color: #f0f4f7;
  overflow-x: hidden; /* Oculta el desbordamiento horizontal */
  overflow-y: auto; /* Permite desplazamiento vertical cuando es necesario */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  padding: 16px; /* Añade algo de padding general */
  padding-bottom: 60px; /* Espacio adicional en la parte inferior para el footer */
  box-sizing: border-box;/* Espacio adicional en la parte inferior para el footer */
  .generate-button{
  background-color: #46707e;
  color: white;
}
}

.impresion-card-bfx {
  background-color: #d1e0e5;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 75%;
  max-width: 800px;
  overflow-y: auto;
}

.impresion-form-bfx {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr; // Ajusta para móviles
  }
}

.impresion-button-bfx {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.bfx-modal-content {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  overflow-y: auto; /* Permite desplazamiento vertical si el contenido es demasiado largo */
}

.bfx-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.bfx-modal-body {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas */
  gap: 10px;
  margin-bottom: 20px;
}

.bfx-modal-body .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #ccc;
}

.bfx-modal-footer {
  display: flex;
  justify-content: space-between;
}

.img-etiquetado {
  max-height: 60px;
}

.bfx-generate-button {
  background-color: #46707e;
  color: white;
}

div.MuiBox-root.css-6d9ffm{
  padding: 50px;
}
.top-container-bfx {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 16px; /* Espacio desde el borde izquierdo */
  background-color: #f0f4f7;
  padding-top: 10px;
}
.bottom-container-bfx {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: #f0f4f7;
  padding: 5px;
}
