html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden; // Evitar scroll en nivel de root
  }
  
  .impresion-container-quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Alineación al inicio para cuando hay scroll */
    min-height: 100vh; /* Usa min-height en lugar de height para permitir que se expanda */
    background-color: #ffffff;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
    overflow-y: auto; /* Permite desplazamiento vertical cuando es necesario */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    padding: 16px; /* Añade algo de padding general */
    padding-bottom: 60px; /* Espacio adicional en la parte inferior para el footer */
    box-sizing: border-box;/* Espacio adicional en la parte inferior para el footer */
  }
  
  @media (max-width: 600px) { /* Ajustes para pantallas pequeñas como teléfonos */
    .impresion-container-quality {
      padding: 10px; /* Menos padding para maximizar el espacio disponible */
      padding-bottom: 50px; /* Espacio inferior adecuado para dispositivos móviles */
    }
  }
  
  
  .impresion-card-quality {
    background-color: #d1e0e5;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    box-sizing: border-box; // Asegurar que el padding no expanda la caja
    margin: 20px 0; // Margen superior e inferior para separación
  }
  
  .impresion-form-quality {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    @media (max-width: 768px) { // Para tabletas y móviles, una sola columna
      grid-template-columns: 1fr;
    }
  }
  
  .impresion-button-quality {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .impresion-button-quality .generate-button {
    background-color: #306A74;
    color: white;
    padding: 10px 20px; // Ajuste de padding para un mejor aspecto
    border: none; // Eliminar bordes por defecto
    cursor: pointer; // Cursor de mano al pasar el mouse
    &:hover {
      background-color: #27575d; // Color más oscuro en hover para efecto visual
    }
  }

  .quality-modal-content {
  background-color: #ffffff;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  position: relative;
  margin: 20px auto;
}

.quality-modal-header {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quality-modal-body {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  font-size: 0.9rem;
}

.quality-modal-footer {
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
}

.quality-modal-footer .generate-button {
  background-color: #306A74;
  color: white;
  &:hover {
    background-color: #417cbd; // Azul un poco más oscuro al pasar el mouse
  }
}


.top-container-bfx {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 16px; /* Espacio desde el borde izquierdo */
}